@import "tailwindcss";

:root {
  --primary: #fbbf24;
  --primary-dark: #f59e0b;
  --background: #0f172a;
  --foreground: #ffffff;
  --secondary: #1e293b;
  --border: #334155;
}

* {
  border-color: var(--border);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
}
